*{
	margin:0;
	padding:0;
}

/*this gets rid of scroller on the browser*/
body {
    overflow-y:hidden;
}

/*create the valves at the top*/

.valve{
	width:70px;
	height:70px;
	background-color: blue;
	border:6px solid white;
	border-radius: 100%;
	margin:0px 5px;
	margin-bottom: 80px;
	z-index: -40;
}

.threeValves{
	display:flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	z-index: -4;
}

/*this makes the gameplay board of the beats and notes moving*/

.gameplay{
	margin:0 auto;
	position:relative;
	width:60%;
	animation-name: notesMoving;
	animation-duration: 40s;
	animation-timing-function:linear;
	animation-iteration-count:  infinite;
}

/*overlay the beats and notes*/

.beat{
	width:100%;
}

.beats,.notes{
	position:absolute;
	width:100%;
}

hr{
	margin-bottom: 80px;
	margin-top:80px;
	width:100%;
}

/*logic that makes each type of note to be played*/

.note{
	width:70px;
	height:70px;
	background-color: green;
	border-radius: 100%;
	margin:0 auto;
	z-index: 100;
}

.valve1-note{
	transform: translate(-91px,0px)
}

.qnote{
	margin-top:45px;
	margin-bottom:-35px;
}

/*animation to move board!*/

@keyframes notesMoving {

100%{
	transform: translateY(-16000px);
}

}