*{
	margin:0;
	padding:0;
	font-family: 'Squada One', cursive;
}

/*this gets rid of scroller on the browser*/
body {
    overflow-y:hidden;
    background-image: url("http://getwallpapers.com/wallpaper/full/7/8/c/72870.jpg");
    background-position: center;
}

/*breath meter*/
.air-meter{
 text-align: center;
 width:20%;
 position: absolute;
 margin-top:4%;
 margin-left:2%;
}

.bar{
height: 20px;
  border:2px solid black;
  margin-left: 5%;
  width:100%;
}

.meter{
height:100%;
width:100%;
background-color:red;
transition-timing-function:linear;
}

/*scoreboard styles*/
.scoreboard{
	float:right;
	position:absolute;
	margin-left: 75%;
	margin-top:5%;
}

/*beats stuff*/

.beats{
	margin-top:36px;
	
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.beat{
	margin:0;
	padding:0;
	height:287px;
	border-top: 1px dotted white;
}

/*every new measure has red beat*/
.beat:nth-child(4n-3) {
    border-top:1px solid red;
}

.beats,.notes{
	position:absolute;
	width:100%;
}

.beat{
	color:white;
	text-align: center;
}
/*create the valves at the top*/

.threeValves{
	display:flex;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
	z-index: -4;
}

.valve{
	width:70px;
	height:70px;
	background-color: blue;
	border:6px solid white;
	border-radius: 100%;
	margin:0px 5px;
	margin-bottom: 80px;
	z-index: 400;
	background-image: url(valve.jpg);
	background-position:center;
	background-size: cover;
}

.valve1{
border-color:#C1C4C3;
}

.valve2{
border-color:#C1C4C3;
}

.valve3{
border-color:#C1C4C3;
}


/*this makes the gameplay board of the beats and notes moving*/

.gameplay{
	margin:0 auto;
	position:relative;
	width:40%;
	animation-name:;
	/*animation-name: notesMoving;*/
	animation-duration: 69s;
	animation-timing-function:linear;
	animation-iteration-count:  1;
}

/*overlay the beats and notes*/


.beats,.notes{
	position:absolute;
	width:100%;
}


/*logic that makes each type of note to be played*/

.note{
	width:72px;
	height:72px;
	border-radius: 40%;
	margin:0 auto;
	z-index:100;
	background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rest{
	width:72px;
	height:72px;
	margin:0 auto;
}


.valve1-note{
	transform: translate(-91px,0px);
	background:#0074D9;
}

.valve2-note{
	background: #FFDC00;
}

.valve-combo{
	display:flex;
	justify-content: center;
	position: relative;

}

.valve1-combo{
	position:absolute;
	transform: translate(-91px,0px);
	background:#0074D9;
}

.valve2-combo{
	position:absolute;
	background: #FFDC00;
}

.valve3-combo{
	position:absolute;
	transform: translate(91px,0px);
	background: #FF851B;
}

.open{
	width:244px;
	background: #AAAAAA;
	border-radius: 5%;
}


.sixteenth{
height:72px;
}

.eighth{
	height:144px;
}

.dotted-eighth{
	height:216px;
}

.quarter{
	height:288px;
}

.dotted-quarter{
	height:432px;
}

.half{
	height:576px;
}

.whole{
	height:1152px;
}

/*animation to move board!*/

@keyframes notesMoving {

100%{
	transform: translateY(-30600px);
}

}