*{
	margin:0;
	padding:0;
}

/*this gets rid of scroller on the browser*/
body {
    overflow-y:hidden;
    background-color: grey;
}

/*breath meter*/
.bar{
height: 20px;
  width:17%;
  border:2px solid black;
  margin-top: 5%;
  margin-left: 5%;
}

.meter{
height:100%;
width:100%;
background-color:red;
transition:17s;
transition-timing-function:linear;
}

/*create the valves at the top*/

.threeValves{
	display:flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	z-index: -4;
}

.valve{
	width:70px;
	height:70px;
	background-color: blue;
	border:6px solid white;
	border-radius: 100%;
	margin:0px 5px;
	margin-bottom: 80px;
	z-index: 400;
	background-image: url(https://media.musiciansfriend.com/is/image/MMGS7/Trumpet-Finger-Button-Brass/462636000373000-00-500x500.jpg);
	background-position:center;
	background-size: cover;

}



/*this makes the gameplay board of the beats and notes moving*/

.gameplay{
	margin:0 auto;
	position:relative;
	width:40%;
	animation-name: notesMoving;
	animation-duration: 120s;
	animation-timing-function:linear;
	animation-iteration-count:  infinite;
	background-color: yellow; }

/*overlay the beats and notes*/


.beats,.notes{
	position:absolute;
	width:100%;
}

hr{
	margin-bottom: 80px;
	margin-top:80px;
	width:100%;
}

/*logic that makes each type of note to be played*/

.note{
	width:70px;
	height:70px;
	background-color: green;
	border-radius: 100%;
	margin:0 auto;
	z-index: 100;
}

.valve1-note{
	transform: translate(-91px,0px)
}

.valve3-note{
	transform: translate(91px,0px);
}

.open-note{
	border:2px solid black;
	background-color: white;
	border-radius:30%;
	width:210px;
}

.valve-combo-note{
	display:flex;
	justify-content: center;
	position: relative;
}

.valve1-combo{
	background-color: yellow;
	position:absolute;
	transform: translate(-91px,0px)
}

.valve2-combo{
	background-color: black;
	position:absolute;
}

.valve3-combo{
	background-color: purple;
	position:absolute;
	transform: translate(91px,0px);
}

.qnote{
	margin-top:47px;
	margin-bottom:-35px;
}



/*animation to move board!*/

@keyframes notesMoving {

100%{
	transform: translateY(-16000px);
}

}